{% extends 'base3.html.twig' %}

    {% block stylesheets %}
    <style>
       .bg {
                /* Full height */
                height: 100%;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        .superior{
            height: 10%;
        }

        .superior2{
            height: 56%;
        }
        .contenido{
            height: 100%;
        }

        .etiqueta{
            color:white;
            text-shadow: 0px 0px 8px rgba(255,64,255,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
            font-size: large;
        }
        .etiqueta2{
            color:black;
            text-shadow:  white 0.1em 0.1em 0.2em;
            font-size: large;
        }
        .btn-print{
                margin-top: 1%;
                background-color: #e2048d;
                color:white;
            }
        .trans{
                opacity: 0.3;
            }

    </style>
    {% endblock %}
    {% block body %}
    <script type="text/javascript">
        {function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
       
            document.body.innerHTML = printContents;
       
            window.print();
       
            document.body.innerHTML = originalContents;
                                    }
        }
    </script>
    
    <a class="btn btn-print" href="#" onclick="printDiv('Informe',)" style="float:right">
            <i class="fa fa-print" aria-hidden="true" ></i>
            IMPRIMIR
    </a>  


    <div id='Informe' class="zona-informe">
        <div class="contenido">
            <div align="left"><img src="{{asset('imagenes/letraslogo.png') }}"></div>
            <div align="right">
               <label class="font-weight-bold etiqueta2"><h6><b>Fecha: </b>{{fechaimpresion}} hs</h6></label>
            </div>
            <div align="left" class="col-offset-4">
               <label class="font-weight-bold etiqueta2"><h5><b>{{titulo}}</b></h5></label>    </div> <div align="left">
               <label class="font-weight-bold etiqueta2"><h6><b>Codigo de pago:</b> {{codigo}}</h6></label>    </div> <div align="left">   
               <label class="font-weight-bold etiqueta2"><h6><b>Alumno:</b> {{alumno}}</h6></label>    </div> <div align="left">    
               <label class="font-weight-bold etiqueta2"><h6><b>DNI:</b> {{dniAlu}}</h6></label>    </div> <div align="left">
               {% if comboPago =='-' %}
               <label class="font-weight-bold etiqueta2"><h6><b>Inscripción:</b> {{inscrPago}}</h6></label>    </div> <div align="left">
               {% endif %}
               {% if inscrPago =='-' %}
               <label class="font-weight-bold etiqueta2"><h6><b>Combo:</b>{{comboPago}}</h6></label>    </div> <div align="left">
               {% endif %}
               <label class="font-weight-bold etiqueta2"><b><h6>Pagado el:</b> {{diaPago}} <b>a las:</b> {{horaPago}} hs</h6></label>    </div> <div align="left">
               <label class="font-weight-bold etiqueta2"><h6><b>Monto:</b> ARS$ {{monto}}</h6></label>    </div> <div align="left">
               <label class="font-weight-bold etiqueta2"><h6><b>Corresponde al mes:</b> {{mes}}<b> del año:</b> {{anio}}</h6></label> </div> <div align="left">
               <label class="font-weight-bold etiqueta2"><h6><b>Firma encargado/a:</b>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                              <b>Aclaración encargado/a:</b>  </h6></label>   </div> 
               <br>
               <div class="trans"> <hr /> </div>
             </div>
        </div>
    </div>

    {% endblock %}