{% extends 'base3.html.twig' %}

    {% block stylesheets %}
    <style>
       .bg {
                /* Full height */
                height: 100%;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        .superior{
            height: 10%;
        }

        .superior2{
            height: 56%;
        }
        .contenido{
            height: 100%;
        }

        .etiqueta{
            color:white;
            text-shadow: 0px 0px 8px rgba(255,64,255,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
            font-size: large;
        }
        
        .btn-print{
            margin-top: 2%;
            background-color: #e2048d;
            color:white;
            float: right;
        }
        
        .zona-informe{
            padding-top: 8%;            
        }
    </style>
    {% endblock %}
    {% block body %}
    <script type="text/javascript">
        {function printDiv(divName) {
            var printContents = document.getElementById(divName).innerHTML;
            var originalContents = document.body.innerHTML;
       
            document.body.innerHTML = printContents;
       
            window.print();
       
            document.body.innerHTML = originalContents;
                                    }
        }
    </script>
    
    <button class="btn btn-print" onclick="printDiv('Informe')">
        <i class="fa fa-print" aria-hidden="true"></i>
        IMPRIMIR
    </button> 
    <div id='Informe' class="zona-informe">
        <div class="text-center contenido">
            <div class="superior"></div>
            <label class="font-weight-bold etiqueta"><h2>SISTEMA DE INFORMES</h2></label>
            <br>       
            
            <label class="font-weight-bold etiqueta"><h2>{{titulo}}</h2></label>
            </br>
            
            <label class="font-weight-bold etiqueta">Fecha de Impresión: {{fechaimpresion}}</label>
            </br>
            <label class="font-weight-bold etiqueta"><h3>{{sub1}}</h3></label>
            <div id="div_table"></div>
            </br>
            <label class="font-weight-bold etiqueta"><h3>{{sub2}}</h3></label>
            <div id="div_chart1"></div>
            </br>
            <label class="font-weight-bold etiqueta"><h3>{{sub3}}</h3></label>
            <div id="div_chart2"></div>
            </br>
            
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script type="text/javascript">
                {{ gc_draw([table, chart1, chart2], ['div_table','div_chart1', 'div_chart2']) }}
            </script>

    {% endblock %}