{% extends 'base4.html.twig' %}

    {% block stylesheets %}
    <style>

        .superior{
            height: 10%;
        }

        .superior2{
            height: 5%;
        }

        .contenido{
            height: 100%;
        }

        .etiqueta{
            color:white;
            text-shadow: 0px 0px 8px rgba(255,64,255,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
            font-size: large;
        }
        .etiqueta2{
            color:light-black;
            text-shadow: -1px 0 white, 0 1px black, 1px 0 white, 0 -1px white;;
            font-size: large;
        }
        .btn-rosa{
                background-color: #e2048d;
                color:white;
                font-size: large;
            }

    </style>
      {% endblock %}
    {% block body %}
         <div class="row ">
           <div class="col-sm-4">
            <br>  </br>    
            <div class="col-sm-10 etiqueta2 offset-2">
              <label class="font-weight-bold etiqueta"><h2>Nuevo Usuario </h2></label>
            </div>
            <div class="col-sm-10 etiqueta2 offset-2">
              <label class="font-weight-bold etiqueta"><h3>Profesor </h3></label>
            </div> 
            {{ form_start(form) }}
               </br> 
             <div class="col-sm-4 etiqueta2 offset-5">
                 <h6>{{ form_row(form.username) }}</h6>
             </div>
             <div class="col-sm-4 etiqueta2 offset-5">
                  <h6>{{ form_row(form.plainPassword.first) }}</h6>
             </div>
             <div class="col-sm-6 etiqueta2 offset-5">
                 <h6>{{ form_row(form.plainPassword.second) }}</h6>
             </div>
             <div class="col-sm-4 etiqueta2 offset-5 ">
                 <h6>{{ form_row(form.nombre) }}</h6>
             </div>   </div> 
        <div class="col-sm-7 ">  
              </br> <br><h5></h5> </br> <br> </br>   </br></br>
             <div class="col-sm-4 etiqueta2 " >
                <h6>{{ form_row(form.profesor) }}</h6>
             </div>
             <div class="col-sm-2 etiqueta2"  >
                <h6> {{ form_row(form.isActive) }}</h6>
             </div> </br>
             <div class="col-sm-5 etiqueta2" >
                <h6>{{ form_row(form.roles) }}</h6>
             </div>   </br>         
             <div class="col-sm-3 offset-2">
                <h6> <button type="submit" class="btn-rosa" > <font face="helvetica" >Registrar</font></button></h6>
             </div>
            </div>
            {{ form_end(form) }}
        </div>   </div>
    {% endblock %}