{% extends "PlanEntrenamiento/base.html.twig" %}

{% block footable %}
<script src="{{asset('footable/js/footable.min.js') }}"></script>
<LINK href="{{asset('footable/css/footable.standalone.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="container container-normal bg-light">
    <hr>
    <img style="height:200px;" width="100%" src="{{asset('imagenes/mini-imagen.jpg') }}">
    <hr>
    <div class="d-flex justify-content-center fondo-negro bg-morado text-light">
        <h2>
            Panel de Profesores:
        </h2>
    </div>
    <hr>
    <div class="d-flex flex-column fondo-negro">
        <h4 class=""><i class="fa fa-user"></i> {{ user.nombre }} <a class="btn btn-danger" href="{{ path('cerrarSesion') }}"><i class="fa fa-times" aria-hidden="true"></i> Salir</a></h4>
        {% if user.profesor %}
            <p class="">Profesor de: <br>
                {% for clase in user.profesor.clases %}
                    {{ clase.actividad }}<br>
                {% endfor %}
        {% endif %}
    </div>
    <hr>
    <div class="form-group">
        <a class="btn btn-gral btn-lg btn-block" role="button" href="{{ path('asistenciapanel') }}"><i class="fa fa-users"></i> Asistencia de Alumnos</a>
        <a class="btn btn-gral btn-lg btn-block" role="button" href="{{ path('planes') }}"><i class="fa fa-heartbeat"></i> Planes de Entrenamiento</a>
    </div>
    <hr>
    
</div>
{% endblock %}