{% extends "PlanEntrenamiento/base.html.twig" %}

{% block footable %}
<script src="{{asset('footable/js/footable.min.js') }}"></script>
<LINK href="{{asset('footable/css/footable.standalone.min.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
<div class="container container-normal bg-light">
    <hr>
    <img style="height:200px;" width="100%" src="{{asset('imagenes/mini-imagen2.jpg') }}">
    <hr>
    <div class="d-flex justify-content-center fondo-negro bg-morado text-light">
        <h2>
            Planes de Entrenamiento:
        </h2>
    </div>
    <hr>
    <a class="btn btn-gral" href="{{ path('panel') }}"><i class="fa fa-arrow-left"></i> Volver</a>
    <a class="btn btn-gral float-right" role="button" href="{{ path('nuevoPlan') }}"><i class="fa fa-plus-circle"></i> Nuevo</a>
    <div class="form-group">
        
    </div>
                <!-- Table Markup -->
    <table class="table footable" data-filtering="true" data-sorting="true" data-empty="Sin Resultados" data-paging-count-format="{CP} de {TP}"
    data-paging="true" data-paging-size="20" data-filter-placeholder="Buscar">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Alumno</th>
                <th>DNI Alumno</th>
                <th>Profesor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for plan in planes %}
                <tr>
                    <td>{{ plan.descripcion }}</td>
                    <td>{{ plan.Alumno }}</td>
                    <td>{{ plan.Alumno.dni }}</td>
                    <td>{{ plan.Profesor }}</td>
                    <td><a class="btn btn-gral" href="{{ path('plan', {'id': plan.id}) }}"><i class="fa fa-eye"></i> Ver</a>
                        <a class="btn btn-gral" href="{{ path('plan', {'id': plan.id}) }}"><i class="fa fa-pencil"></i> Editar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}