{% extends "PlanEntrenamiento/base.html.twig" %}
        
{% block body %}

<div class="container bg-light">

        <script type="text/javascript"> 
            {function printDiv(divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var originalContents = document.body.innerHTML;
           
                document.body.innerHTML = printContents;
           
                window.print();
           
                document.body.innerHTML = originalContents;
                                        }
            }
        </script>
        
        <button class="btn btn-print" onclick="printDiv('Informe')">
            <i class="fa fa-print" aria-hidden="true"></i>
            IMPRIMIR
        </button> 
        
        <a class="btn btn-back" href="{{ path('panel') }}"><i class="fa fa-arrow-left"></i> Volver</a>

<div id='Informe' class="zona-informe">   
    <hr>
    <div class="d-flex justify-content-center fondo-negro bg-morado text-light">
        <h2>
            Plan "{{ plan.descripcion }}":
        </h2>
    </div>
    <hr>
    
    <h3>Alumno: {{ plan.Alumno }}</h3>
    <h3>Profesor: {{ plan.Profesor }}</h3>
    <hr>
    <h3>Semana 1 ( {{ plan.dias1 }})</h3>
    <hr>
    <table class="table table-bordered">
            <thead>
                    <tr>
                    <th class="bg-morado" scope="col">Musculo:</th>
                    <th class="bg-morado" scope="col">Ejercicio:</th>
                    <th colspan="3" class="bg-morado" scope="col">Observacion:</th>
                    <th class="bg-morado">F:</th>
                    <th class="bg-morado">S:</th>
                    <th class="bg-morado">R:</th>
                    <th class="bg-morado">C:</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for linea in plan.lineas %}
                    <tr>
                        <td scope="col">{{ linea.Musculo }}</td>
                        <td scope="col">{{ linea.Ejercicio }}</td>
                        <td colspan="3" scope="col">{{ linea.Observacion }}</td>
                        <td scope="col">{{ linea.f1 }}</td>
                        <td scope="col">{{ linea.s1 }}</td>
                        <td scope="col">{{ linea.r1 }}</td>
                        <td scope="col">{{ linea.c1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>

    <h3>Semana 2 ( {{ plan.dias2 }})</h3>
    <hr>
    <table class="table table-bordered">
            <thead>
                    <tr>
                    <th class="bg-morado" scope="col">Musculo:</th>
                    <th class="bg-morado" scope="col">Ejercicio:</th>
                    <th colspan="3" class="bg-morado" scope="col">Observacion:</th>
                    <th class="bg-morado">F:</th>
                    <th class="bg-morado">S:</th>
                    <th class="bg-morado">R:</th>
                    <th class="bg-morado">C:</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for linea in plan.lineas %}
                    <tr>
                        <td scope="col">{{ linea.Musculo }}</td>
                        <td scope="col">{{ linea.Ejercicio }}</td>
                        <td colspan="3" scope="col">{{ linea.Observacion }}</td>
                        <td scope="col">{{ linea.f2 }}</td>
                        <td scope="col">{{ linea.s2 }}</td>
                        <td scope="col">{{ linea.r2 }}</td>
                        <td scope="col">{{ linea.c2 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>

    <h3>Semana 3 ( {{ plan.dias3 }})</h3>
    <hr>
    <table class="table table-bordered">
            <thead>
                    <tr>
                    <th class="bg-morado" scope="col">Musculo:</th>
                    <th class="bg-morado" scope="col">Ejercicio:</th>
                    <th colspan="3" class="bg-morado" scope="col">Observacion:</th>
                    <th class="bg-morado">F:</th>
                    <th class="bg-morado">S:</th>
                    <th class="bg-morado">R:</th>
                    <th class="bg-morado">C:</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for linea in plan.lineas %}
                    <tr>
                        <td scope="col">{{ linea.Musculo }}</td>
                        <td scope="col">{{ linea.Ejercicio }}</td>
                        <td colspan="3" scope="col">{{ linea.Observacion }}</td>
                        <td scope="col">{{ linea.f3 }}</td>
                        <td scope="col">{{ linea.s3 }}</td>
                        <td scope="col">{{ linea.r3 }}</td>
                        <td scope="col">{{ linea.c3 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>

    <h3>Semana 4 ( {{ plan.dias4 }})</h3>
    <hr>
    <table class="table table-bordered">
            <thead>
                    <tr>
                    <th class="bg-morado" scope="col">Musculo:</th>
                    <th class="bg-morado" scope="col">Ejercicio:</th>
                    <th colspan="3" class="bg-morado" scope="col">Observacion:</th>
                    <th class="bg-morado">F:</th>
                    <th class="bg-morado">S:</th>
                    <th class="bg-morado">R:</th>
                    <th class="bg-morado">C:</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for linea in plan.lineas %}
                    <tr>
                        <td scope="col">{{ linea.Musculo }}</td>
                        <td scope="col">{{ linea.Ejercicio }}</td>
                        <td colspan="3" scope="col">{{ linea.Observacion }}</td>
                        <td scope="col">{{ linea.f4 }}</td>
                        <td scope="col">{{ linea.s4 }}</td>
                        <td scope="col">{{ linea.r4 }}</td>
                        <td scope="col">{{ linea.c4 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>

    <h3>Semana 5 ( {{ plan.dias5 }})</h3>
    <hr>
    <table class="table table-bordered">
            <thead>
                    <tr>
                    <th class="bg-morado" scope="col">Musculo:</th>
                    <th class="bg-morado" scope="col">Ejercicio:</th>
                    <th colspan="3" class="bg-morado" scope="col">Observacion:</th>
                    <th class="bg-morado">F:</th>
                    <th class="bg-morado">S:</th>
                    <th class="bg-morado">R:</th>
                    <th class="bg-morado">C:</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for linea in plan.lineas %}
                    <tr>
                        <td scope="col">{{ linea.Musculo }}</td>
                        <td scope="col">{{ linea.Ejercicio }}</td>
                        <td colspan="3" scope="col">{{ linea.Observacion }}</td>
                        <td scope="col">{{ linea.f5 }}</td>
                        <td scope="col">{{ linea.s5 }}</td>
                        <td scope="col">{{ linea.r5 }}</td>
                        <td scope="col">{{ linea.c5 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>

    <h3>Semana 6 ( {{ plan.dias6 }})</h3>
    <hr>
    <table class="table table-bordered">
            <thead>
                    <tr>
                    <th class="bg-morado" scope="col">Musculo:</th>
                    <th class="bg-morado" scope="col">Ejercicio:</th>
                    <th colspan="3" class="bg-morado" scope="col">Observacion:</th>
                    <th class="bg-morado">F:</th>
                    <th class="bg-morado">S:</th>
                    <th class="bg-morado">R:</th>
                    <th class="bg-morado">C:</th>
                    
                    </tr>
                </thead>
                <tbody>
                    {% for linea in plan.lineas %}
                    <tr>
                        <td scope="col">{{ linea.Musculo }}</td>
                        <td scope="col">{{ linea.Ejercicio }}</td>
                        <td colspan="3" scope="col">{{ linea.Observacion }}</td>
                        <td scope="col">{{ linea.f6 }}</td>
                        <td scope="col">{{ linea.s6 }}</td>
                        <td scope="col">{{ linea.r6 }}</td>
                        <td scope="col">{{ linea.c6 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
    </table>
    <hr>
                    
</div>
</div>
{% endblock %}