{% extends "PlanEntrenamiento/base.html.twig" %}
        
{% block body %}
<div class="bg-light">
    <hr>
    <div class="d-flex justify-content-center fondo-negro">
        <h2>
            Plan "{{ plan.descripcion }}":
        </h2>
    </div>
    <hr>
    <h3>Alumno: {{ plan.Alumno }}</h3>
    <h3>Profesor: {{ plan.Profesor }}</h3>
    
            {% for linea in plan.lineas %}
            <h4>Musculo: {{ linea.Musculo }} Ejercicio:{{ linea.Ejercicio }} Observacion:{{ linea.observacion }}</h4>
                
                <table class="table table-dark table-bordered">
                    <thead>
                        <tr>
                        <th colspan="4" scope="col">Semana 1</th>
                        <th colspan="4" scope="col">Semana 2</th>
                        <th colspan="4" scope="col">Semana 3</th>
                        <th colspan="4" scope="col">Semana 4</th>
                        <th colspan="4" scope="col">Semana 5</th>
                        <th colspan="4" scope="col">Semana 6</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4">{{ linea.dias1 }}</td>
                            <td colspan="4">{{ linea.dias2 }}</td>
                            <td colspan="4">{{ linea.dias3 }}</td>
                            <td colspan="4">{{ linea.dias4 }}</td>
                            <td colspan="4">{{ linea.dias5 }}</td>
                            <td colspan="4">{{ linea.dias6 }}</td>
                        </tr>
                        <tr>
                            <th>F</th>
                            <th>S</th>
                            <th>R</th>
                            <th>C</th>
                            <th>F</th>
                            <th>S</th>
                            <th>R</th>
                            <th>C</th>
                            <th>F</th>
                            <th>S</th>
                            <th>R</th>
                            <th>C</th>
                            <th>F</th>
                            <th>S</th>
                            <th>R</th>
                            <th>C</th>
                            <th>F</th>
                            <th>S</th>
                            <th>R</th>
                            <th>C</th>
                            <th>F</th>
                            <th>S</th>
                            <th>R</th>
                            <th>C</th>
                        </tr>
                        <tr>
                            <td>{{ linea.f1 }}</td>
                            <td>{{ linea.s1 }}</td>
                            <td>{{ linea.r1 }}</td>
                            <td>{{ linea.c1 }}</td>
                            <td>{{ linea.f2 }}</td>
                            <td>{{ linea.s2 }}</td>
                            <td>{{ linea.r2 }}</td>
                            <td>{{ linea.c2 }}</td>
                            <td>{{ linea.f3 }}</td>
                            <td>{{ linea.s3 }}</td>
                            <td>{{ linea.r3 }}</td>
                            <td>{{ linea.c3 }}</td>
                            <td>{{ linea.f4 }}</td>
                            <td>{{ linea.s4 }}</td>
                            <td>{{ linea.r4 }}</td>
                            <td>{{ linea.c4 }}</td>
                            <td>{{ linea.f5 }}</td>
                            <td>{{ linea.s5 }}</td>
                            <td>{{ linea.r5 }}</td>
                            <td>{{ linea.c5 }}</td>
                            <td>{{ linea.f6 }}</td>
                            <td>{{ linea.s6 }}</td>
                            <td>{{ linea.r6 }}</td>
                            <td>{{ linea.c6 }}</td>
                        </tr>
                    </tbody>
                </table>
            {% endfor %}
        
                    
                    <td><a class="btn btn-dark" href="{{ path('planes') }}">Volver Al Listado</a>
                    </td>
</div>
{% endblock %}