{% extends 'base2.html.twig' %}

    {% block stylesheets %}
    <style>
       .bg {
                /* The image used */
                background-image: url("/{{ root }}{{ imagenes }}/fondoasist.jpg");

                /* Full height */
                height: 100%;

                /* Center and scale the image nicely */
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        .superior{
            height: 10%;
        }

        .superior2{
            height: 56%;
        }
        .contenido{
            height: 100%;
        }

        .etiqueta{
            color:white;
            text-shadow: 0px 0px 8px rgba(255,64,255,1), -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;;
            font-size: large;
        }
    </style>
    {% endblock %}
    {% block body %}
        <div class="text-center contenido">
            <div class="superior"></div>
            <label class="font-weight-bold etiqueta"><h2>SISTEMA DE REGISTRO DE ASISTENCIA</h2></label>
            <br>
            <label class="font-weight-bold etiqueta text-warning" ><h4>{{ aviso }}</h4></label>
            <div class="superior2"></div>
            {{ form_start(form) }}
                <label class="font-weight-bold etiqueta" for="username">INGRESE SU DNI:</label>
                <div class="row">
                    <div class="form-group col-sm-4 offset-sm-4">
                        {{ form_row(form.dni, { 'attr': {'class': 'form-control'} }) }}
                        <br>
                        {{ form_row(form.save, { 'attr': {'class': 'btn btn-dark'} }) }}
                    </div>
                </div>
            {{ form_end(form) }}
        </div>
        
    {% endblock %}
